
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    max-width: 80%;
    margin:0 auto;
    height: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: margin-left .5s;
    padding: 20px;
    display: block;
    vertical-align: middle;
}

body, html {
    height: 100%;
    margin: 0;
}
.button a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 2px 25px 2px 25px ;
    font-size: 20px;

}
#temp-main{
  margin: 0 auto;
  position: relative;
  width: 50vh;
  padding-top: calc(0vh);
  height: 50vh;
  position: relative;
  top: 0px;
  position: relative;

}
#main #c-left{
  //background-color: #111;
width:50%;
height: 100%;
float: left;
}

#c-right:after{
  position: absolute;
  content: "";
  top: 25%;
  height: 50%;
  width: 1px;
  border-left: 1px solid #fff;
  margin-left: -5%;
}
#main #c-right{//background-color: #999;
  width:50%;
  height: 100%;
  float: right;
}
.date{
  font-size: 24px;
  font-family: 'Opensans';

  color: white;
  text-align: center;

}
.celc{

  font-size: 24px;
  font-family: 'Opensans';

  color: white;
  text-align: center;

}
.temp-name{
  font-size: 20px;
  font-family: 'Opensans';
  color: white;
  text-align: center;

}
.button
{
  vertical-align: middle;
  color:white;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  cursor: hand;
  background-color: rgba(0,0,0,0.8);

}
.big-temp{
  font-size: calc(6vh + 6vw);
  color: white;
  margin-top: calc(50vh - 30%);
  align-items: middle;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  position: relative;
  top: 0px;
  margin-left: 10vw;
  font-family: 'Opensans';

}


  .bg {
      /* The image used */
      background: url(../img/bg-default.jpg) ;

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}


/*backgroud*/
.source-image {
      max-width: 100%;
      position: absolute;
     background-position: 50% 0;
    }


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(30,30,30,0.8);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
