{% extends '1/_Base.html' %}
{% block content %}
{% load staticfiles %}
{% load filters %}
{% csrf_token %}

<style>
table th span {  color: #222; }
</style>

<header id="header">

</header>

</br>
<div id="device_chart_new" style="max-width:95%; width:1600px; dispaly:block; margin: auto; ">
<script>
    $(document).ready(function() {
      $('#button').click('change', do_something);

        $('.testselect2').SumoSelect({selectAll:false, search: true, searchText:'Search here.',  captionFormat: '{0} Selected',});


    });
    function do_something() {
    date_from = $("#datepickerfrom").val();
    hour_from = $("#hour_from").val();
    date_to = $("#datepickerto").val();
    hour_to = $("#hour_to").val();
    name = $("#select_name").val();
    acc = $("#select_name4").val();
    day = $("#select_name3").val();
    num = $("#select_name2").val();
    if(name=="null"){alert("Select Senosr")}
    else{
      if (hour_to == "now"){
        dd ="/Charts/Draw="+name+"/Acc="+acc+"/From="+date_from+" "+hour_from+":00:00"+"/To=now";
      }
      else
      {dd ="/Charts/Draw="+name+"/Acc="+acc+"/From="+date_from+" "+hour_from+":00:00"+"/To="+date_to+" "+hour_to+":00:00";}
      window.location.replace(dd);
    }
  }
</script>

<div id="container-chart" style="max-width:100%; max-height:95%;width:1600px; height:400px; dispaly:block; margin: auto; " ></div>
<script type="text/javascript">
  $(function(){
    // Create the chart
     Highcharts.chart('container-chart', {
                                        chart:{
                                              zoomType:'x',
                                              backgroundColor: 'rgba(0,0,0,0)',
                                              type: 'spline',
                                              marginBottom: 120,
                                              reflow: false,
                                              marginLeft: 50,
                                              marginRight: 20,
                                              style: {
                                                  position: 'absolute'
                                              },
                                              },

                                        stacking: false,
                                        exporting:{
                                                  enabled:false,
                                                  },
                                        legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                itemStyle: {
                                                            color: '#ffffff',
                                                            fontWeight: 'bold'
                                                          },
                                                itemHiddenStyle: {
                                                                  color: 'grey'
                                                                },
                                                },
                                        title : {
                                                style:{color:'white'},
                                                text :
                                                {%ifequal groupname 'null'%}
                                                'Sensor: {{dataName.0.dev_user_name}}:  {{dataName.0.dev_value|floatformat:"-1"}} {{dataName.0.dev_unit_id|units}}  ',
                                                {%else%}
                                                      'Select: Group...',
                                                {%endifequal%}
                                                },
                                        credits :
                                                {
                                                enabled: false
                                                },
                                        boost: {
                                                useGPUTranslations: true
                                                },
                                        tooltip: {
                                                shared: true,
                                                useHTML: true,
                                                headerFormat: 'Date:  <strong style="color:black">{point.key}</strong></br>',
                                                pointFormat:  '{series.name} - <strong style="color:black">{point.y} </strong></br>',
                                                valueDecimals: 2
                                                },
                                        colors: ['#7cb5ec', '#ff00ff', '#90ed7d', '#f7a35c', '#8085e9',
                                                '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'],

                                        plotOptions: {
                                                    spline:{
                                                              marker:{
                                                                      enabled:false,
                                                                      },


                                                            },
                                                    },

                                        xAxis: {
                                                zoomType:'x',
                                                type: 'datetime',
                                                labels: {
                                                        style: {
                                                                color: 'white'
                                                                },
                                                        align: 'left'
                                                        }
                                                },
                                        yAxis: { tooltip: {
                formatter: function () {
                    var point = this.points[0];
                    return '<b>' + point.series.name + '</b><br/>' + Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>' +
                        '1 USD = ' + Highcharts.numberFormat(point.y, 2) + ' EUR';
                },
                shared: true
            },
                                                {%if groupname != 'null'%}
                                              //  type: 'logarithmic',
                                              //  minorTickInterval: 1,
                                                {%endif%}
                                                title: {
                                                        text: null,
                                                      },
                                                labels: {
                                                        style: {
                                                                color: 'white',
                                                              },
                                                        }
                                             },
                                      series : [
                                                {%ifequal groupname 'null'%}
                                                {
                                                  name : '{{dataName.0.dev_user_name}},  {% with dataName.0.dev_id|data_chart:graph_param as data%} (min: {{data.2}}, max: {{data.3}}, avg: {{data.4}}) - t: {{data.1}}ms,',data :{{data.0}}{% endwith %},
                                                }
                                                {%else%}
                                                {%for list in grouplist%}
                                                {

                                                  name : '{{list|name_by_id}}: {{list|value_by_id}} {{list|unit_by_id}}  {% with list|data_chart:graph_param as data%} (t:{{data.1}}ms)',data :{{data.0}}{% endwith %},
                                                },
                                                {%endfor%}
                                                {%endifequal%}
                                              ]
                                      });
              });
</script>

    <div id="selectM" >

      <div class="box2">
        <p style="text-align:center;">Sensor</p>
          <div style="clear: left;">

            <select  value="715" id="select_name" multiple="multiple" name="somename0" class="testselect2" style="background-color: rgba(255,255,255,0);height:20px; width:200px;">
              {% for device in list_of_devices %}
              <option  {%for gr in grouplist%}  {%if gr == device.pk|stringformat:"i"%} selected {%endif%}  {%endfor%} value="{{device.pk}}">  {{ device.dev_user_name}}   </option>
              {% endfor %}

               </select>


          </div>
      </div>



<script>
$( function() {
            $( "#datepickerto" ).val("{{date_to_html|date:"Y-m-d" }}")
            $( "#datepickerfrom" ).val("{{date_from_html|date:"Y-m-d" }}")
            $( "#datepickerfrom" ).datepicker(
                                              {
                                                dateFormat:"yy-mm-dd",
                                                showOtherMonths: true,
                                                selectOtherMonths: true,
                                                maxDate: 0,
                                                minDate: "2016-12-10"
                                            });
            $( "#datepickerto" ).datepicker(
                                            {
                                            dateFormat:"yy-mm-dd",
                                            showOtherMonths: true,
                                            selectOtherMonths: true,
                                            maxDate: 0,
                                            minDate: "2016-12-10"
                                          });
              });
</script>

   <div class="box2">
      <div class="box3" style="float: left;">
        <p style="text-align:center;">From</p>
        <input type="text"  style="padding-right: 5px;padding-left: 10px;height:20px; width:90px;" id="datepickerfrom">
      </div>

      <div class="box3" style="float: left; margin-left:5px;">
        <p style="text-align:center;">Hour</p>
        <select style="padding-right: 5px;padding-left: 5px;height:20px; width:40px;" id="hour_from" name="select">
          <option  value="0" {%if hour_from_html == 0 %}selected="selected"{%endif%}>0</option>
          {%for i in loop_hour%}
          <option  value="{{ forloop.counter }}" {%if hour_from_html == forloop.counter  %} selected="selected" {%endif%}>{{ forloop.counter }}</option>
          {%endfor%}
        </select>
      </div>
    </div>



    <div class="box2">
      <div class="box3" style="float: left; ">
        <p style="text-align:center;">To</p>
        <input type="text"  style="padding-right: 5px;padding-left: 10px;height:20px; width:90px;" id="datepickerto">
      </div>

      <div class="box3" style="float: left; margin-left:5px;">
        <p style="text-align:center;">Hour</p>
          <select style="padding-right: 5px;padding-left: 5px;height:20px; width:40px;" id="hour_to" name="select">
          <option  value="now" {%if hour_to_html == "now"  %}selected="selected"{%endif%}>now</option>

          {%for i in loop_hour%}
          <option  value="{{ forloop.counter }}" {%if hour_to_html == forloop.counter %}selected="selected"{%endif%}>{{forloop.counter}}</option>
          {%endfor%}
          </select>
      </div>
    </div>





</div>
  <div class="box2"><p style="text-align:center;">Accuracy</p>
        <select style="height:20px; width:70px; padding-right: 5px;padding-left: 10px;" id="select_name4" name="select">
          <option  value="0"{%if chartACC == "0"  %}selected="selected"{%endif%}>100%</option>
          <option  value="1"{%if chartACC == "1"  %}selected="selected"{%endif%}>auto</option>
          <option  value="2"{%if chartACC == "2"  %}selected="selected"{%endif%}>2</option>
          <option  value="4"{%if chartACC == "4"  %}selected="selected"{%endif%}>4</option>
          <option  value="8"{%if chartACC == "8"  %}selected="selected"{%endif%}>8</option>
          <option  value="16"{%if chartACC == "16"  %}selected="selected"{%endif%}>16</option>
          <option  value="32"{%if chartACC == "32"  %}selected="selected"{%endif%}>32</option>
          <option  value="64"{%if chartACC == "64"  %}selected="selected"{%endif%}>64</option>
          <option  value="128"{%if chartACC == "128"  %}selected="selected"{%endif%}>128</option>
          <option  value="256"{%if chartACC == "256"  %}selected="selected"{%endif%}>256</option>
          <option  value="512"{%if chartACC == "512"  %}selected="selected"{%endif%}>512</option>
          <option  value="1024"{%if chartACC == "1024"  %}selected="selected"{%endif%}>1024</option>
        </select>
    </div>

      <div class="box2">
        <button style="font-size:12px;padding:0 ; margin-top:23px;  width:150px;" id="button">Load Chart</button>
      </div>
    </div>
</div>
{% endblock %}
