{% extends '_Base.html' %}
{% block content %}
{% load staticfiles %}
<style>
#id_group0_user_sort {
  background-color: rgba(255, 0, 0, 0);
  color:white;
width: 180px;
height: 25px;
font-size: 12px;
}
</style>

    <header id="header">
        <!--span class="icon fa-diamond">

        </span-->
        <style>
        #id_c_time_min {
          background-color: rgba(255, 0, 0, 0);
          color:white;
        width: 180px;
        height: 25px;
        font-size: 12px;
        }
        </style>
        <div class="content">
          <div class="inner" style="max-height: 100%;">
            <div class="table">
              <p style="	font-size: 14px;">Edit Cron nr: <strong>{{cronEditPk.0.c_id}}</strong></p>
                <form  method="POST" class="post-form">
          	     {% csrf_token %}
                    <table>
                      <tr>
                        <th>
                          <label for="id_c_file_path"> Path to file:</label>
                        </th>
                        <td>
                          <input style="width:350px;" id="id_c_file_path" name="c_file_path" value="{{cronEditPk.0.c_file_path}}"  type="text" required />
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <label for="id_c_file_name">Interpreter:</label>
                        </th>
                        <td>
                          <input id="id_c_file_name" maxlength="20" name="c_file_name" value="{{cronEditPk.0.c_file_name}}" type="text" required />
                        </td>
                      </tr>

                      <tr>
                        <th>
                          <label for="id_c_time_min"> Interval:</label>
                        </th>
                        <td>
                          <input style="width:350px;" id="id_c_time_min" name="c_time_min" value="{{cronEditPk.0.c_time_min}}"  type="number" required />
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <label for="id_c_decription">Description:</label>
                        </th>
                        <td>
                          <input id="id_c_decription" maxlength="20" name="c_decription" value="{{cronEditPk.0.c_decription}}" type="text" required />
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <label for="id_enabled">Enabled:</label>
                        </th>
                        <td>
                          <select id="id_enabled" name="enabled">

                            <option value="2" {%if cronEditPk.0.enabled == True%} selected="selected"{%endif%}>Yes</option>
                            <option value="3" {%if cronEditPk.0.enabled == False%} selected="selected"{%endif%}>No</option>
                          </select>
                        </td>
                      </tr>
                    </table>
                    <button type="submit" name="device_edit" class="save btn btn-default">Save</button>
              </form>

          </div>
        </div>
      </div>

  </header>

{% endblock %}
