{% extends '_Base.html' %}
{% block content %}
{% load staticfiles %}
{% load filters %}
{% load humanize %}


     <header id="header">
        <div class="content">
          <div class="inner" style="max-height: 100%;">
            <div class="table">
              <table style="margin:0 auto">
                    <tr>
                      <th class="d-id" >Id</th>

                      <th class="d-id" >File exec Path</th>
                      <th class="d-id" >Interpreter</th>
                        <th class="d-id" >interval</th>
                      <th class="d-id" >Description</th>
                      <th class="d-id" >Enabled</th>
                    </tr>
                    {% for names in cronList %}
                    <tr>
                      <td class="d-id" ><a href="{% url 'CronEdit' pk=names.pk %}">{{ names.c_id }}</a></td>

                      <td class="d-ids"  style="text-align: left;" ><a  href="{% url 'CronEdit' pk=names.pk %}">{{ names.c_file_path}}</a></td>
                      <td class="d-id" ><a href="{% url 'CronEdit' pk=names.pk %}">{{ names.c_file_name }}</a></td>
                      <td class="d-id" ><a href="{% url 'CronEdit' pk=names.pk %}">{{ names.c_time_min}}</a></td>
                      <td class="d-id" ><a href="{% url 'CronEdit' pk=names.pk %}">{{ names.c_decription }}</a></td>
                      <td class="d-id" ><a href="{% url 'CronEdit' pk=names.pk %}">{{names.enabled|isTrue}}</a></td>
                    </tr>
                      {%endfor%}
                  </table>
          </div>
        </div>
      </div>

  </header>
</div>
	<div id="bg"></div>
{% endblock %}
