{% extends '_Base.html' %}
{% block content %}
{% load staticfiles %}
{% load filters %}
{% load humanize %}


    <header id="header">
        <!--span class="icon fa-diamond">

        </span-->

        <div class="content">
          <div class="inner" style="max-height: 100%;">
            <div class="table">
              <table style="margin:0 auto">
                    <tr>
                      <th class="d-id" >Id</th>
                      <th class="d-id" >User Id</th>
                      <th class="d-id" >Name</th>
                      <th class="d-id" >Enabled</th>
                      <th class="d-id" >Enabled in Graph</th>
                    </tr>
                    {% for names in groupList %}
                    <tr id="{{names.dev_main_group}}">
                      <td class="d-id" ><a href="{% url 'GroupEdit' pk=names.pk %}">{{ names.id }}</a></td>
                      <td class="d-id" ><a href="{% url 'GroupEdit' pk=names.pk %}">{{ names.group0_user_sort }}</a></td>
                      <td class="d-id" ><a href="{% url 'GroupEdit' pk=names.pk %}">{{ names.group0 }}</a></td>
                      <td class="d-id" ><a href="{% url 'GroupEdit' pk=names.pk %}">{%ifequal  names.group0_enabled True %}
                      &#10004;
                      {% else %}
                      -
                      {% endifequal%}</a></td>
                      <td class="d-id" ><a href="{% url 'GroupEdit' pk=names.pk %}">{%ifequal  names.group0_chart_list_enabled True %}
                      &#10004;
                      {% else %}
                      -
                      {% endifequal%}</a></td>
                    <tr>
                        {% endfor %}
                  </table>
          </div>
        </div>
      </div>

  </header>
</div>
	<div id="bg"></div>
{% endblock %}
