{% extends 'Base.html' %}


{% block content %}
{% load staticfiles %}
{% load chartit %}
<div class="pane-when " id="s-when">
  <div class="content">
      <div class="clock clock-countdown">
        <div class="site-config"></div>
        <div class="elem-center">
          <script >
            setInterval( function updateDiv(){ $( "#temp_v" ).load(window.location.href + " #temp_v" );}, 60000);
          </script>

          <div class="digit" id="temp_v">
            <span  class="days" >
              {% for post in temp %}
                {{ post.dev_value|floatformat:"-1" }}
              {% endfor %}

            </span>
            <span class="txt"><sup>o</sup> C</span>
          </div>
        </div>

        <div class="elem-bottom">
          <script>
            setInterval( function updateDiv(){ $( "#date_time" ).load(window.location.href + " #date_time" );}, 60000);
          </script>
          <div class="deco" id="date_time">
            <span class="hours">{{date_time}}</span>
          </div>
        </div>
      </div>

      <footer>
        <p>    {% for post in temp %}
                  {{ post.dev_user_name }}
                {% endfor %}
            </p>
      </footer>
  </div>
</div>

  <main class="page-main" id="mainpage">
    <div style="float: left;" class="section page-home page page-cent" id="s-home">


      <section class="content" style="float: left;">
        <header class="header" style="float: left;">
          <script >
          setInterval( function updateDiv(){ $( "#sensors" ).load(window.location.href + " #sensors" );}, 60000);
          </script>
          <div id="sensors" class="h-left;background-color: none;" style="float: left;">
            <main class="page-chart" >
              {% for gr in groupList2 %}
              {{  groups_names.gr.dev_main_group}}
              {%endfor%}


              <table style="float:left; margin:0 auto">
                    <tr>
                      <th class="d-dev" > Device Name</th>
                      <th class="d-value" > Value</th>
                      <th class="d-unit" > Unit</th>
                      <th class="d-dev_location"> Location</th>
                      <th class="d-value" > Trend</th>
                    </tr>
                    {% for names in data %}
                    <tr>
                      <td class="d-dev" ><a href="{% url 'devCharts_new' pk=names.pk acc='4' dn='1' dv='d' %}">{{ names.dev_user_name }}</a></td>
                      <td class="d-value" >{% if names.dev_adjust == 0 %}  {{names.dev_value|floatformat:"-1"}}  {%else%}{{names.dev_value|floatformat:"-2"|add:names.dev_adjust}}  {%endif%} </td>
                      <td class="d-unit" >{% if names.dev_dev_kind == "temperature"%}C {% endif %}{% if names.dev_dev_kind == "humidity"%}% {% endif %}{% if names.dev_dev_kind == "accuracy"%}% {% endif %} </td>
                      <td class="d-dev_location" >{{ names.dev_location }}</td>
                      <td class="d-unit" >
                        {% if names.dev_value > names.dev_value_old %}
                        &#8599;
                        {%endif%}
                        {% if names.dev_value <  names.dev_value_old %}
                        &#8600;
                        {%endif%}
                        {% if names.dev_value == names.dev_value_old %}
                        &#8594;
                        {%endif%}
                      </td>
                      <tr>
                        {% endfor %}
                  </table>
              </main>
          </div>
        <div class="h-right"></div>
      </header>
    </section>
  </div>
</main>



  {% endblock %}
