{% extends "Base.html"%}

{% block content %}

<div class="table">
<style>
#id_group0{
    width: 150px;
    height: 25px;
}
</style>

<a href="{% url 'GroupList' %}"> Back To List of devices</a>

<br><br>

        <form  method="POST" class="post-form">

         {% csrf_token %}
<table>

    {{formGroup.id}} {{ formGroup.as_table }}


</table>
        <button type="submit" class="save btn btn-default">Save</button>
        </form>

</br>
</br>
<table>
<tr>


  <th class="group">edit</th>
  <th class="group">Group 1</th>
  <th cl
</tr>

{% for fgl in formsGroupList %}
<tr>

        <td class="group"><a href="{% url 'GroupEdit' pk=fgl.pk %}">edit {{fgl.pk}}</a> </td>
        <td class="group">{{ fgl.group0 }}  </td>




</tr>
{% endfor %}

</table>

</div>
{% endblock %}
